# Dependencies
node_modules/

# Build output
.medusa/

# Env and local secrets
.env
.env.local

# Logs and OS
*.log
.DS_Store

# IDE
.idea/
.vscode/
.zcp/

# Medusa / yarn
/dist
/uploads
yarn-error.log
coverage
.cache
build
medusa-db.sql
package-lock.json
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
